<!-- <button (click)="log()">Click me</button> -->
<table mat-table [dataSource]="meetings" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef>Day</th>
        <td mat-cell *matCellDef="let element"> {{element.startDate | date:'mediumDate'}}</td>
    </ng-container>
    <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef>Start Time </th>
        <td mat-cell *matCellDef="let element"> {{convertTime(element.startTime) | date:'shortTime'}}</td>
    </ng-container>
    <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> End Time</th>
        <td mat-cell *matCellDef="let element"> {{convertTime(element.endTime) | date:'shortTime'}}</td>
    </ng-container>
    <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef> Subject</th>
        <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <!-- <ng-container matColumnDef="feedback">
        <th mat-header-cell *matHeaderCellDef> Feedback</th>
        <td mat-cell *matCellDef="let element"> {{element.feedback}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button *ngIf="element.status=='Submitted'" (click)="openLeaveAction(element)">Action</button>
            <span *ngIf="element.status!=='Submitted'">Completed</span>
        </td>
    </ng-container> -->
    
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>