<h1>Manager Component</h1>

<mat-tab-group>
    <mat-tab label="Edit Profile"> Content 1 </mat-tab>
    <mat-tab label="Leave Details"> Content 2 </mat-tab>
    <mat-tab label="Previous Leaves"> Content 3 </mat-tab>
    <mat-tab label="Apply For Leave"> Content 3 </mat-tab>
    <mat-tab label="Leave Requests">
        <table mat-table [dataSource]="leaves" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef>Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.startDate | dateFormatter}}</td>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef> End Date</th>
                <td mat-cell *matCellDef="let element"> {{element.endDate | dateFormatter}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef> Notes</th>
                <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
            </ng-container>
            <ng-container matColumnDef="feedback">
                <th mat-header-cell *matHeaderCellDef> Feedback</th>
                <td mat-cell *matCellDef="let element"> {{element.feedback}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="rejectLeave(element.id)">Trash</button> 
                    <button (click)="acceptLeave(element.id)">Check</button> 
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="leaveColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: leaveColumns;"></tr>

            </table>
        </mat-tab>
    <mat-tab label="Employees">
        <table mat-table [dataSource]="employees" class="mat-elevation-z8">
            <!-- ID Column -->
            <!-- <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container> -->
          
            <!-- First Name Column -->
            <ng-container matColumnDef="First Name">
              <th mat-header-cell *matHeaderCellDef> First Name </th>
              <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>
          
            <!-- Last Name Column -->
            <ng-container matColumnDef="Last Name">
              <th mat-header-cell *matHeaderCellDef> Last Name </th>
              <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>
          
            <!-- Email Column -->
            <ng-container matColumnDef="Email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Availability Column -->
            <ng-container matColumnDef="Availability">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"><button mat-button (click)="openDialog()">Availability</button></td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
    </mat-tab>
  </mat-tab-group>
