<mat-tab-group (selectedTabChange)="refresh($event)">
  <mat-tab  label="Meetings">
    <app-manager-meeting ></app-manager-meeting>
  </mat-tab>
  <mat-tab label="Goals">
    <app-goals [goals]="goals"></app-goals>
  </mat-tab>
  <mat-tab label="Performance Review">
    <app-performance-review [reviews]="reviews"></app-performance-review>
  </mat-tab>
    <mat-tab label="Leave Requests">
       <app-leave></app-leave>
        </mat-tab>
    <mat-tab label="Employees">
        <app-employees></app-employees>
    </mat-tab>
  </mat-tab-group>
