<p>Leave Balance: {{employee.leaveBalance}}</p>
<div>
    <input [(ngModel)]="leave.startDate" type="date" value="tomorrow" [min]='tomorrow' (ngModelChange)="onChange($event)">
    <input [(ngModel)]="leave.endDate" type="date" [min]='leave.startDate' [max]="available">
</div>
<div>
    <label for="types">Type of leave:</label>
    <select [(ngModel)]="leave.leaveType" name="types" id="leave">
        <option value="Vacation">Vacation</option>
        <option value="Holiday">Holiday</option>
        <option value="Medical">Medical</option>
        <option value="Bereavement">Bereavement</option>
        <option value="Parental">Parental</option>
        <option value="Personal">Personal</option>
    </select>
    <input [(ngModel)]="leave.notes">
    <button (click)="submit()">Submit Request</button>
</div>
