<table mat-table [dataSource]="goals" *ngIf="!review" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> Deadline</th>
        <td mat-cell *matCellDef="let element"> {{element.deadline | dateFormatter}}</td>
    </ng-container>
    <ng-container matColumnDef="weightage">
        <th mat-header-cell *matHeaderCellDef> Weightage</th>
        <td mat-cell *matCellDef="let element"> {{element.weightage}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} 
            <button *ngIf="element.status=='Pending'" (click)="negotiate(element.comment, element.id)">Negotiate</button>
            <button *ngIf="element.status=='Pending'" (click)="accept(element.id)">Accept</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef> Comment</th>
        <td mat-cell *matCellDef="let element"> <input [(ngModel)]="element.comment" placeholder="Comments"></td>
    </ng-container>
    <ng-container matColumnDef="finish">
        <th mat-header-cell *matHeaderCellDef> Mark Completed </th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="element.status=='Accepted'" (click)="complete(element.id)">Mark as completed</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

</table>

<div *ngIf="review">
    <form>
        <p>Deliverables:</p><input [(ngModel)]="employeeReview.deliverables" required class="inputBlock" name="deliverables" type="text"><br>
        <p>Achievements:</p><input [(ngModel)]="employeeReview.achievements" required class="inputBlock" name="achievements" type="text"/><br>
        <p>Areas of Improvement:</p><input [(ngModel)]="employeeReview.areaOfImprovement" required class="inputBlock" name="areasOfImprovement" type="text"><br>
    </form>
    <button (click)="submit(employeeReview)">Submit Review</button>
</div>