.inputBlock {
    display: block;
    height: 30px;
    padding-left: 10px;
    max-width: 300px;
    width: 70%;
    text-align: left;
    margin: 15px auto;
}
tr.example-detail-row {
    height: 0;
  }