
.typeToggle {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 200px;
    justify-content: space-between;

}
.title {
    padding-top: 20px;
    font-size: 2rem;
    text-align: center;
}
.typeToggle>button {
    width: 95px;
    padding: 10px 15px;
}
.submitButton {
    display: block;
    margin: 10px auto;
}