<div style="align-content: center;">
    <input [(ngModel)]="meeting.subject" type="text" placeholder="Subject"><br>
    <input [(ngModel)]="meeting.startTime" type="date" placeholder="Start Time" [min]='this.date' (ngModelChange)="onChange($event)"><br>
    <input [(ngModel)]="meeting.endTime" type="date" placeholder="Start Time" [min]='this.endDate'><br>
    <input [(ngModel)]="meeting.description" type="text" placeholder="Description"><br>
    <button (click)="submit()">Submit</button>
</div>