<h1 mat-dialog-title style="display: block; margin-left: auto; margin-right: auto; width: 20%;">Request Meeting</h1>
<div mat-dialog-content style="display: block; margin-left: auto; margin-right: auto; width: 20%;">
  <mat-form-field style="display: block;" class="example-full-width">
    <mat-label>Meeting Subject</mat-label>
    <input matInput [(ngModel)]="meeting.subject" placeholder="Goal Title" value="Sushi">
  </mat-form-field>
  <mat-form-field style="display: block;" class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="meeting.description" placeholder="Ex. Pizza" value="Sushi"></textarea>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput [(ngModel)]="date" [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> 
  <mat-form-field style="display: block;" appearance="outline" class="example-full-width">
    <mat-label>Start Time</mat-label>
    <input matInput [(ngModel)]="startTime" type="time" placeholder="Weightage">
  </mat-form-field>
  <mat-form-field style="display: block;" appearance="outline" class="example-full-width">
    <mat-label>End Time</mat-label>
    <input matInput [(ngModel)]="endTime" type="time" placeholder="Weightage">
  </mat-form-field>
  <div style="display:flex; justify-content: space-around;">
    <button mat-raised-button (click)="submit()">Send</button>
  </div>

  <!-- <p style="margin:10px 0">{{errorMessage}}</p> -->
</div>