 <form class="form">
    <p>Leave Balance: {{employee.leaveBalance}}</p><br>
    <input [(ngModel)]="leave.startDate" type="date" name="sDate" value="tomorrow" [min]='tomorrow' (ngModelChange)="onChange($event)" required>
    <input [(ngModel)]="leave.endDate" type="date" name="eDate" [min]='leave.startDate' [max]="available" required><br>
    <label for="types">Type of leave:</label>
    <select [(ngModel)]="leave.leaveType" name="types" id="leave" required>
        <option value="Vacation" >Vacation</option>
        <option value="Holiday">Holiday</option>
        <option value="Medical">Medical</option>
        <option value="Bereavement">Bereavement</option>
        <option value="Parental">Parental</option>
        <option value="Personal">Personal</option>
    </select><br>
    <input [(ngModel)]="leave.notes" name="notes"><br>
    <button type="submit" [disabled]="!leave.startDate||!leave.endDate||!leave.leaveType" (click)="submit()">Submit Request</button>
</form>